@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    margin: 0;
    font-family:
      'Inter',
      'Segoe UI',
      system-ui,
      -apple-system,
      sans-serif;
  }
}
